<div id="applications-index" class="pt-80">
  <h2 class="center-align">My Applications</h2>
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <div class="valign-wrapper">
        <i class="material-icons prefix valign" style="font-size: 2em;">search</i>
        <input id="dashboard-search" placeholder="Search Dashboard" v-model="searchField">
      </div>
    </div>
  </div>
  <div class="row">
    <table class="bordered responsive-table">
      <thead>
          <tr>
            <th data-field="edit"></th>
            <th data-field="view"></th>
            <th data-field="company" @click="orderByField('company')">Company <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="job_title" @click="orderByField('job_title')">Job Title <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="notes" @click="orderByField('notes')">Notes <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="last_action" @click="orderByField('last_action')">Last Updated <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="current_step" @click="orderByField('current_step')">Current Step <i class="fa fa-sort" aria-hidden="true"></th>
          </tr>
      </thead>
      <tr v-for="application in tableFilter" :class="application.current_step.toLowerCase()">
        <td><a v-bind:href="editUrlBuilder(application.id)"><i class="material-icons">mode_edit</i></td>
        <td><a v-bind:href="viewUrlBuilder(application.id)"><i class="material-icons">visibility</i></td>
        <td>{{ application.company }}</td>
        <td>{{ application.job_title }}</td>
        <td>{{ application.notes_preview }}</td>
        <td>{{ application.last_action_date_only }}
        <td>{{ application.current_step }}</td>
      </tr>
    </table>
  </div>
</div>
