<div id="leads-index" class="pt-80">
  <h2 class="center-align">My Leads</h2>
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <div class="valign-wrapper">
        <i class="material-icons prefix valign" style="font-size: 2em;">search</i>
        <input id="dashboard-search" placeholder="Search Dashboard" v-model="searchField">
      </div>
    </div>
  </div>
  <div class="row">
    <table class="responsive-table centered">
      <thead>
          <tr>

            <th data-field="name" @click="orderByField('name')">Name <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th data-field="company" @click="orderByField('company')">Company <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="job_title" @click="orderByField('job_title')">Job Title <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="notes" @click="orderByField('notes')">Notes <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="last_action" @click="orderByField('last_action')">Last Updated <i class="fa fa-sort" aria-hidden="true"></th>
            <th data-field="current_step" @click="orderByField('current_step')">Current Step <i class="fa fa-sort" aria-hidden="true"></th>
          </tr>
      </thead>
      <tr v-for="lead in tableFilter"  class="table-row" :class="lead.current_step.toLowerCase()" @click="showLead(lead.id)">
        <td>{{ lead.name }}</td>
        <td>{{ lead.company }}</td>
        <td>{{ lead.job_title }}</td>
        <td>{{ lead.notes_preview }}</td>
        <td>{{ lead.last_action }}
        <td>{{ lead.current_step }}</td>
      </tr>
    </table>
  </div>
</div>
