<div class="row pt-80">
  <div class="col s12 m1"></div>
  <div class="col s12 m5">
    <a href="/users/<%= current_user.id %>/leads">
      <div class="card-panel z-depth-2 teal hoverable dashboard-button">
       <span class="white-text center-align">
         <div class="row">
           <h2><i class="material-icons dashboard-icon">assignment_ind</i><h2>
         </div>
         <div class="row">
           <h3 class="flow-text dashboard-label">LEADS</h3>
         </div>
       </span>
      </div>
    </a>
  </div>

  <div class="col s12 m5">
    <a href="/users/<%= current_user.id %>/applications">
      <div class="card-panel z-depth-2 teal hoverable dashboard-button">
       <span class="white-text center-align">
         <div class="row">
           <h2><i class="material-icons dashboard-icon">assignment</i><h2>
         </div>
         <div class="row">
           <h3 class="flow-text dashboard-label">APPLICATIONS</h3>
         </div>
       </span>
     </div>
    </a>
  </div>
  <div class="col s12 m1"></div>
</div>
